<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="trafficjunky-site-verification" content="444v08qt0" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>射雕英雄传 torrent, magnet, bt - BTSOW - Search</title>
    <meta name="author" content="BTSOW">
    <meta name="keywords"
        content="btspread, bt, torrent, search, download, magnet, convert, magnet2torrent, torrent2magnet, bittorrent">
    <meta name="description"
        content="射雕英雄传 btspread, torrent, magnet, bt - BTSOW - The free online torrent file to magnet link conversion, magnet link to torrent file conversion, Search magnet link and Search torrent file.">
    <link rel="apple-touch-icon" href="https://btsow.surf/app/bts/View/img/apple-touch-icon.png">
    <link rel="shortcut icon" href="https://btsow.surf/app/bts/View/img/favicon.ico">
    <link rel="bookmark" href="https://btsow.surf/app/bts/View/img/favicon.ico">
    <script
        language="javascript">function $ROOT_URL() { return "https://btsow.surf" } function $APP() { return "bts" } function $APP_URL() { return "/index.php?app=bts&" } function $APP_INFO_URL() { return "/index.php/bts" } function $APP_REWRITE_URL() { return "/bts" } function $APP_VIEW_URL() { return "https://btsow.surf/app/bts/View" } function $APP_UPLOAD_URL() { return "/app/bts/Upload" }</script>
    <link rel='stylesheet' type='text/css' href='https://btsow.surf/app/bts/View/css/app.min.css?v=1482382914'>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]><script src='https://btsow.surf/script/html5shiv/3.7.2/html5shiv.min.js?v=1482382914'></script>
<script src='https://btsow.surf/script/respond/1.4.2/respond.min.js?v=1482382914'></script>
<![endif]-->
    <!--[if lt IE 8]><link rel='stylesheet' type='text/css' href='https://btsow.surf/script/bootstrap.ie7/1.0/bootstrap.ie7.min.css?v=1482382914' >
<![endif]-->
    <!-- <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-74588159-1', { 'sampleRate': 50 });
        ga('send', 'pageview');
    </script> -->
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top top-search-bar">
        <div class="container">
            <form class="fullsearch-form" action="https://btsow.surf/search" onsubmit="return false">
                <div class="input-group">
                    <input name="keyword" type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"
                                aria-hidden="true"></span> Search</button>
                        <a class="btn btn-default " href="https://btsow.surf/tags">Tags</a>
                    </span>
                </div>
            </form>
        </div>
    </nav>
    <nav class="navbar navbar-inverse navbar-fixed-top top-bar">
        <div class="container">
            <div class="navbar-header">
                <a class="logo" href="https://btsow.surf"></a>
                <div class="btn-group pull-right visible-xs-inline" role="group"
                    style="margin-top:8px;margin-right:8px;">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                        <span class="glyphicon glyphicon-share"></span> Share
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class="share-facebook"><span class="menu">Facebook</span></a></li>
                        <li><a class="share-twitter"><span class="menu">Twitter</span></a></li>
                        <li><a class="share-tumblr"><span class="menu">Tumblr</span></a></li>
                        <li><a class="share-reddit"><span class="menu">Reddit</span></a></li>
                        <li><a class="share-pinterest"><span class="menu">Pinterest</span></a></li>
                        <li><a class="share-qrcode"><span class="menu">QR Code</span></a></li>
                        <li><a class="share-email"><span class="menu">Email</span></a></li>
                        <li><a class="share-favorites"><span class="menu">Favorites</span></a></li>
                    </ul>
                </div>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="https://btsow.surf/convert/torrent"><span class="glyphicon glyphicon-upload"
                                aria-hidden="true"></span> Torrent</a></li>
                    <li><a href="https://btsow.surf/convert/magnet"><span class="glyphicon glyphicon-download"
                                aria-hidden="true"></span> Magnet</a></li>
                    <li><a href="https://btsow.surf/tags"><span class="glyphicon glyphicon-search"
                                aria-hidden="true"></span> Tags</a></li>
                </ul>

                <div class="pull-right ishare">
                    <a class="share-facebook"><span class="icon"></span></a>
                    <a class="share-twitter"><span class="icon"></span></a>
                    <a class="share-tumblr"><span class="icon"></span></a>
                    <a class="share-reddit"><span class="icon"></span></a>
                    <a class="share-pinterest"><span class="icon"></span></a>
                    <a class="share-google_plusone_share hidden-sm"><span class="icon"></span></a>
                    <a class="share-blogger hidden-sm"><span class="icon"></span></a>
                    <a class="share-google hidden-sm"><span class="icon"></span></a>
                    <a class="share-qrcode"><span class="icon"></span></a>
                    <a class="share-email hidden-sm"><span class="icon"></span></a>
                    <a class="share-favorites"><span class="icon"></span></a>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>

    <div class="row visible-xs-inline footer-bar">
        <div class="col-xs-3 text-center">
            <a id="menu" class="btn btn-default" href="https://btsow.surf"><i class="glyphicon glyphicon-home"></i></a>
        </div>
        <div class="col-xs-3 text-center">
            <a id="prev" class="btn btn-default" href="/search/%E5%B0%84%E9%9B%95%E8%8B%B1%E9%9B%84%E4%BC%A0/page/4"
                style="display:none;"><i class="glyphicon glyphicon-chevron-left"></i></a>
        </div>
        <div class="col-xs-3 text-center">
            <a id="next" class="btn btn-default" href="/search/%E5%B0%84%E9%9B%95%E8%8B%B1%E9%9B%84%E4%BC%A0/page/6"
                style="display:none;"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </div>
        <div class="col-xs-3 text-center">
            <a id="back" class="btn btn-default" href="javascript:window.history.back()"><i
                    class="glyphicon glyphicon-share-alt flipx"></i></a>
        </div>
    </div>
    <div class="container">
        <form class="form-inline hidden-xs search fullsearch-form" action="https://btsow.surf/search"
            onsubmit="return false">
            <div class="input-group">

                <input class="form-control" type="text" name="wd" value="{{wd}}">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"
                            aria-hidden="true"></span> Search</button>
                </span>
            </div>
        </form>
        <div class="tags-box hidden-xs">
        </div>
        <h3 class="hidden-xs">Latest Search:</h3>

        <!-- <div class="row hidden-xs ptb-20 text-center w728c">
            <div type="text/data-position" style="display:none">
                W3siaWQiOiJqdWljX2JfU01fVF83Mjh4OTAiLCJhZHNwb3QiOiJiX1NNX1RfNzI4eDkwIiwid2VpZ2h0IjoiOSIsImZjYXAiOmZhbHNlLCJzY2hlZHVsZSI6ZmFsc2UsIm1heFdpZHRoIjpmYWxzZSwibWluV2lkdGgiOiI3NjgiLCJ0aW1lem9uZSI6ZmFsc2UsImV4Y2x1ZGUiOmZhbHNlLCJkb21haW4iOmZhbHNlLCJjb2RlIjoiPCEtLSBKdWljeUFkcyB2My4xIC0tPlxyXG48c2NyaXB0IHR5cGU9XCJ0ZXh0XC9qYXZhc2NyaXB0XCIgZGF0YS1jZmFzeW5jPVwiZmFsc2VcIiBhc3luYyBzcmM9XCJodHRwczpcL1wvcG93ZXJlZGJ5LmphZHMuY29cL2pzXC9qYWRzLmpzXCI+PFwvc2NyaXB0PlxyXG48aW5zIGlkPVwiODQ1NTM0XCIgZGF0YS13aWR0aD1cIjcyOFwiIGRhdGEtaGVpZ2h0PVwiOTBcIj48XC9pbnM+XHJcbjxzY3JpcHQgdHlwZT1cInRleHRcL2phdmFzY3JpcHRcIiBkYXRhLWNmYXN5bmM9XCJmYWxzZVwiIGFzeW5jPihhZHNieWp1aWN5ID0gd2luZG93LmFkc2J5anVpY3kgfHwgW10pLnB1c2goeydhZHpvbmUnOjg0NTUzNH0pOzxcL3NjcmlwdD5cclxuPCEtLUp1aWN5QWRzIEVORC0tPiJ9XQ==
            </div>
        </div> -->

        <div class="data-list">
            <div class="row hidden-xs">
                <div class="col-sm-4 col-lg-4 field">Docs</div>
                <div class="col-sm-2 col-lg-2 text-right field">Detail</div>
                <div class="col-sm-2 col-lg-2 text-right field">Score</div>
                <div class="col-sm-2 col-lg-2 text-right field">Score</div>
                <div class="col-sm-2 col-lg-2 text-right field">Score</div>

            </div>
            {% for i in data%}
            <div class="row">
                <a href="{{ i['title'] }}" title="{{ i['title'] }}">
                    <div class="col-xs-12 col-sm-4 col-lg-4 file">{{ i['title'] }}</div>
                    <!-- <div class="col-xs-12 size-date visible-xs-block">Size:4.1GB / Convert Date:2013-11-20</div> -->
                </a>
                <div class="col-sm-2 col-lg-2 hidden-xs text-right size">4.1GB</div>
                <div class="col-sm-2 col-lg-2 hidden-xs text-right date">2013-11-20</div>
                <div class="col-sm-2 col-lg-2 hidden-xs text-right date">2013-11-20</div>
                <div class="col-sm-2 col-lg-2 hidden-xs text-right date">2013-11-20</div>
            </div>
            {% endfor %}
        </div>

        <!-- <div class="row hidden-xs ptb-20 text-center w728c">
            <div type="text/data-position" style="display:none">
                W3siaWQiOiJqYXZfYl9TTV9CXzcyOHg5MCIsImFkc3BvdCI6ImJfU01fQl83Mjh4OTAiLCJ3ZWlnaHQiOjUsImZjYXAiOmZhbHNlLCJzY2hlZHVsZSI6ZmFsc2UsIm1heFdpZHRoIjpmYWxzZSwibWluV2lkdGgiOiI3NjgiLCJ0aW1lem9uZSI6ZmFsc2UsImV4Y2x1ZGUiOmZhbHNlLCJkb21haW4iOmZhbHNlLCJjb2RlIjoiPGEgaHJlZj1cImh0dHBzOlwvXC90ZWxsbWUucHdcL2dvXC9qYXZcIiB0YXJnZXQ9XCJfYmxhbmtcIj48aW1nIHNyYz1cIlwvYXBwXC9qYXZcL1ZpZXdcL2ltZ1wvYjcyODkwLmpwZ1wiIHdpZHRoPVwiNzI4XCIgaGVpZ2h0PVwiOTBcIiBib3JkZXI9XCIwXCI+PFwvYT4ifSx7ImlkIjoiamF2dV9iX1NNX0JfNzI4eDkwIiwiYWRzcG90IjoiYl9TTV9CXzcyOHg5MCIsIndlaWdodCI6NSwiZmNhcCI6ZmFsc2UsInNjaGVkdWxlIjpmYWxzZSwibWF4V2lkdGgiOmZhbHNlLCJtaW5XaWR0aCI6Ijc2OCIsInRpbWV6b25lIjpmYWxzZSwiZXhjbHVkZSI6ZmFsc2UsImRvbWFpbiI6ZmFsc2UsImNvZGUiOiI8YSBocmVmPVwiaHR0cHM6XC9cL3RlbGxtZS5wd1wvZ29cL2phdnVcL1wiIHRhcmdldD1cIl9ibGFua1wiPjxpbWcgc3JjPVwiXC9hcHBcL2phdnVcL1ZpZXdcL2ltZ1wvYjcyODkwLmpwZ1wiPjxcL2E+In1d
            </div>
        </div>

        <div class="row visible-xs-block ptb-20 text-center">
            <div type="text/data-position" style="display:none">
                W3siaWQiOiJhZHN0X2JfTV8zMDB4NTAiLCJhZHNwb3QiOiJiX01fMzAweDUwIiwid2VpZ2h0IjoiNSIsImZjYXAiOmZhbHNlLCJzY2hlZHVsZSI6ZmFsc2UsIm1heFdpZHRoIjoiNzY4IiwibWluV2lkdGgiOmZhbHNlLCJ0aW1lem9uZSI6ZmFsc2UsImV4Y2x1ZGUiOmZhbHNlLCJkb21haW4iOmZhbHNlLCJjb2RlIjoiPHNjcmlwdCB0eXBlPVwidGV4dFwvamF2YXNjcmlwdFwiPlxyXG4gIGF0T3B0aW9ucyA9IHtcclxuICAgICdrZXknIDogJzdkMWNjMGUxYjk4MWM5NzY4ZGI3ODUxZmM1MzVhMTllJyxcclxuICAgICdmb3JtYXQnIDogJ2lmcmFtZScsXHJcbiAgICAnaGVpZ2h0JyA6IDUwLFxyXG4gICAgJ3dpZHRoJyA6IDMyMCxcclxuICAgICdwYXJhbXMnIDoge31cclxuICB9O1xyXG4gIGRvY3VtZW50LndyaXRlKCc8c2NyJyArICdpcHQgdHlwZT1cInRleHRcL2phdmFzY3JpcHRcIiBzcmM9XCJodHRwJyArIChsb2NhdGlvbi5wcm90b2NvbCA9PT0gJ2h0dHBzOicgPyAncycgOiAnJykgKyAnOlwvXC93d3cuYm5odG1sLmNvbVwvaW52b2tlLmpzXCI+PFwvc2NyJyArICdpcHQ+Jyk7XHJcbjxcL3NjcmlwdD4ifV0=
            </div>
        </div> -->

        <div class="text-center">
            <ul class="pagination pagination-lg">
                <li><a name="prepage" href="/search/%E5%B0%84%E9%9B%95%E8%8B%B1%E9%9B%84%E4%BC%A0/page/4"><span
                            class="glyphicon glyphicon-chevron-left"></span> Prev</a></li>
                <li class="hidden-xs"><a name="numbar"
                        href="/search/%E5%B0%84%E9%9B%95%E8%8B%B1%E9%9B%84%E4%BC%A0/page/1">1</a></li>
                <li class="hidden-xs"><a name="numbar"
                        href="/search/%E5%B0%84%E9%9B%95%E8%8B%B1%E9%9B%84%E4%BC%A0/page/2">2</a></li>
                <li class="hidden-xs"><a name="numbar"
                        href="/search/%E5%B0%84%E9%9B%95%E8%8B%B1%E9%9B%84%E4%BC%A0/page/3">3</a></li>
                <li class="hidden-xs"><a name="numbar"
                        href="/search/%E5%B0%84%E9%9B%95%E8%8B%B1%E9%9B%84%E4%BC%A0/page/4">4</a></li>
                <li class="hidden-xs active"><a name="numbar"
                        href="/search/%E5%B0%84%E9%9B%95%E8%8B%B1%E9%9B%84%E4%BC%A0/page/5">5</a></li>
                <li class="hidden-xs"><a name="numbar"
                        href="/search/%E5%B0%84%E9%9B%95%E8%8B%B1%E9%9B%84%E4%BC%A0/page/6">6</a></li>
                <li><a name="nextpage" href="/search/%E5%B0%84%E9%9B%95%E8%8B%B1%E9%9B%84%E4%BC%A0/page/6">Next <span
                            class="glyphicon glyphicon-chevron-right"></span></a></li>
            </ul>
        </div>

        <h3 class="visible-xs-block">Latest Search:</h3>
        <div class="tags-box visible-xs-block">
            <a class="tag t4" href="https://btsow.surf/search/SSNI-888"><i class="hidden-xs">1.</i>SSNI-888</a>
            <a class="tag t5" href="https://btsow.surf/search/Anri%20Okita%20%20runbkk"><i class="hidden-xs">2.</i>Anri
                Okita runbkk</a>
            <a class="tag t1" href="https://btsow.surf/search/blonde"><i class="hidden-xs">3.</i>blonde</a>
            <a class="tag t5" href="https://btsow.surf/search/%E7%B9%A9%E7%B8%9B%E5%A4%A7%E5%B8%AB"><i
                    class="hidden-xs">4.</i>繩縛大師</a>
            <a class="tag t3" href="https://btsow.surf/search/MIAE-157"><i class="hidden-xs">5.</i>MIAE-157</a>
            <a class="tag t8" href="https://btsow.surf/search/FSDSS-078"><i class="hidden-xs">6.</i>FSDSS-078</a>
            <a class="tag t1" href="https://btsow.surf/search/%E8%8A%B9%E6%B2%A2"><i class="hidden-xs">7.</i>芹沢</a>
            <a class="tag t8" href="https://btsow.surf/search/18%20anime"><i class="hidden-xs">8.</i>18 anime</a>
            <a class="tag t7" href="https://btsow.surf/search/rbd393"><i class="hidden-xs">9.</i>rbd393</a>
            <a class="tag t6" href="https://btsow.surf/search/md%200060"><i class="hidden-xs">10.</i>md 0060</a>
            <a class="tag t3" href="https://btsow.surf/search/NNPJ-409"><i class="hidden-xs">11.</i>NNPJ-409</a>
            <a class="tag t2" href="https://btsow.surf/search/MIFD-057"><i class="hidden-xs">12.</i>MIFD-057</a>
            <a class="tag t1" href="https://btsow.surf/search/451HHH-004"><i class="hidden-xs">13.</i>451HHH-004</a>
            <a class="tag t4" href="https://btsow.surf/search/nacr082"><i class="hidden-xs">14.</i>nacr082</a>
            <a class="tag t6" href="https://btsow.surf/search/mide845"><i class="hidden-xs">15.</i>mide845</a>
            <a class="tag t6" href="https://btsow.surf/search/JFYG-095"><i class="hidden-xs">16.</i>JFYG-095</a>
            <a class="tag t6" href="https://btsow.surf/search/FUGA-001"><i class="hidden-xs">17.</i>FUGA-001</a>
            <a class="tag t8" href="https://btsow.surf/search/CETD-288"><i class="hidden-xs">18.</i>CETD-288</a>
            <a class="tag t2" href="https://btsow.surf/search/%E9%AC%BC%E7%AA%AA%E6%B5%A9%E4%B9%85"><i
                    class="hidden-xs">19.</i>鬼窪浩久</a>
            <a class="tag t4" href="https://btsow.surf/search/nacr%20359"><i class="hidden-xs">20.</i>nacr 359</a>
            <a class="tag t6" href="https://btsow.surf/search/SSNI-789"><i class="hidden-xs">21.</i>SSNI-789</a>
            <a class="tag t6" href="https://btsow.surf/search/pantyhose%20secret"><i class="hidden-xs">22.</i>pantyhose
                secret</a>
            <a class="tag t4" href="https://btsow.surf/search/pppd%20858"><i class="hidden-xs">23.</i>pppd 858</a>
            <a class="tag t8" href="https://btsow.surf/search/sdmu804"><i class="hidden-xs">24.</i>sdmu804</a>
            <a class="tag t4" href="https://btsow.surf/search/moms"><i class="hidden-xs">25.</i>moms</a>
            <a class="tag t4"
                href="https://btsow.surf/search/%E6%BE%AA%E3%82%92XX%E3%81%99%E3%82%8B%E3%82%B2%E3%82%A8%E3%83%A0%20"><i
                    class="hidden-xs">26.</i>澪をXXするゲエム </a>
            <a class="tag t8" href="https://btsow.surf/search/ssni-221"><i class="hidden-xs">27.</i>ssni-221</a>
            <a class="tag t7" href="https://btsow.surf/search/PARM-055"><i class="hidden-xs">28.</i>PARM-055</a>
            <a class="tag t8" href="https://btsow.surf/search/CAT-363"><i class="hidden-xs">29.</i>CAT-363</a>
            <a class="tag t8" href="https://btsow.surf/search/runbkk"><i class="hidden-xs">30.</i>runbkk</a>
            <a class="tag t8" href="https://btsow.surf/search/TEAM-067"><i class="hidden-xs">31.</i>TEAM-067</a>
            <a class="tag t7" href="https://btsow.surf/search/FC2PPV"><i class="hidden-xs">32.</i>FC2PPV</a>
            <a class="tag t3" href="https://btsow.surf/search/EKDV-648%20"><i class="hidden-xs">33.</i>EKDV-648 </a>
            <a class="tag t6" href="https://btsow.surf/search/300MAAN-591"><i class="hidden-xs">34.</i>300MAAN-591</a>
            <a class="tag t8" href="https://btsow.surf/search/princess"><i class="hidden-xs">35.</i>princess</a>
            <a class="tag t2" href="https://btsow.surf/search/roxy.risingstar"><i
                    class="hidden-xs">36.</i>roxy.risingstar</a>
            <a class="tag t8" href="https://btsow.surf/search/FA-190"><i class="hidden-xs">37.</i>FA-190</a>
            <a class="tag t2" href="https://btsow.surf/search/ABP-765"><i class="hidden-xs">38.</i>ABP-765</a>
            <a class="tag t8" href="https://btsow.surf/search/MIAA-160"><i class="hidden-xs">39.</i>MIAA-160</a>
            <a class="tag t4" href="https://btsow.surf/search/ABP-104"><i class="hidden-xs">40.</i>ABP-104</a>
            <a class="tag t1" href="https://btsow.surf/search/ssni272"><i class="hidden-xs">41.</i>ssni272</a>
            <a class="tag t4" href="https://btsow.surf/search/ageMIX321"><i class="hidden-xs">42.</i>ageMIX321</a>
            <a class="tag t3" href="https://btsow.surf/search/PB-062"><i class="hidden-xs">43.</i>PB-062</a>
            <a class="tag t4" href="https://btsow.surf/search/SIVR-059%20"><i class="hidden-xs">44.</i>SIVR-059 </a>
            <a class="tag t1" href="https://btsow.surf/search/JJBK-036"><i class="hidden-xs">45.</i>JJBK-036</a>
            <a class="tag t8" href="https://btsow.surf/search/DVAJ-315"><i class="hidden-xs">46.</i>DVAJ-315</a>
            <a class="tag t4" href="https://btsow.surf/search/%EF%BD%9E%E5%8B%9D"><i class="hidden-xs">47.</i>～勝</a>
            <a class="tag t8" href="https://btsow.surf/search/KTSB-007"><i class="hidden-xs">48.</i>KTSB-007</a>
            <a class="tag t7" href="https://btsow.surf/search/HIMA-81"><i class="hidden-xs">49.</i>HIMA-81</a>
            <a class="tag t5" href="https://btsow.surf/search/anime"><i class="hidden-xs">50.</i>anime</a>
        </div>

        <div class="row visible-xs-block pt-20 text-center">
            <div type="text/data-position" style="display:none">
                W3siaWQiOiJhZHN0X2JfTV8zMDB4NTAiLCJhZHNwb3QiOiJiX01fMzAweDUwIiwid2VpZ2h0IjoiNSIsImZjYXAiOmZhbHNlLCJzY2hlZHVsZSI6ZmFsc2UsIm1heFdpZHRoIjoiNzY4IiwibWluV2lkdGgiOmZhbHNlLCJ0aW1lem9uZSI6ZmFsc2UsImV4Y2x1ZGUiOmZhbHNlLCJkb21haW4iOmZhbHNlLCJjb2RlIjoiPHNjcmlwdCB0eXBlPVwidGV4dFwvamF2YXNjcmlwdFwiPlxyXG4gIGF0T3B0aW9ucyA9IHtcclxuICAgICdrZXknIDogJzdkMWNjMGUxYjk4MWM5NzY4ZGI3ODUxZmM1MzVhMTllJyxcclxuICAgICdmb3JtYXQnIDogJ2lmcmFtZScsXHJcbiAgICAnaGVpZ2h0JyA6IDUwLFxyXG4gICAgJ3dpZHRoJyA6IDMyMCxcclxuICAgICdwYXJhbXMnIDoge31cclxuICB9O1xyXG4gIGRvY3VtZW50LndyaXRlKCc8c2NyJyArICdpcHQgdHlwZT1cInRleHRcL2phdmFzY3JpcHRcIiBzcmM9XCJodHRwJyArIChsb2NhdGlvbi5wcm90b2NvbCA9PT0gJ2h0dHBzOicgPyAncycgOiAnJykgKyAnOlwvXC93d3cuYm5odG1sLmNvbVwvaW52b2tlLmpzXCI+PFwvc2NyJyArICdpcHQ+Jyk7XHJcbjxcL3NjcmlwdD4ifV0=
            </div>
        </div>
    </div>

    <!-- <footer class="footer hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <a href="https://btsow.surf/info/faq">FAQ</a> /
                    <a href="https://btsow.surf/info/tos">Terms</a> /
                    <a href="https://btsow.surf/info/dmca">DMCA</a> /
                    <a class="contactus" href="javascript:;">Contact Us</a> /
                    <a href="https://tellme.pw/btsow" target="_blank">Guide</a>
                </div>
                <div class="col-sm-5 text-right">
                    Plugin: <a
                        href="javascript:window.external.AddSearchProvider('https://btsow.surf/opensearch.xml');">Browser
                        search</a> / <a href="https://btsow.surf/btsow.com.btsearch">μTorrent search</a>
                </div>
            </div>
        </div>
    </footer> -->

    <!-- <div class="visible-xs-block footer-bar-placeholder"></div> -->
    <script src='https://btsow.surf/app/bts/View/js/app.min.js?v=1482382914'></script>
</body>

</html>