

<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <!-- Search form -->
        <div class="md-form mt-0">
          <form action = '/search' method="get" style="font-size: 20pt">
            {% if query %} 
          <input id="one" class="form-control" type="text"  placeholder="{{query}}"  name="wd" placeholder="Search" aria-label="Search">
          {% else %}
          <input id="one" class="form-control" type="text"   name="wd" placeholder="Search" aria-label="Search">
          {% endif %}
        </form>
        </div>
      </div>

      <div class="col-md-6">
        <!-- Search form -->
        <input id="two" class="form-control" type="text" placeholder="Search" aria-label="Search">
      </div>
    </div>
  </div>

{% if num  %}

<a href=”#” onClick="javascript :history.back(-1);" style="font-size: 10pt">返回</a>
<h2 align="left" style="font-size: 10pt"> 搜索结果:共<font color="red">{{ num }}</font>条数据 </h2>

{%for i in data%}
    <a href="{{ i['_source']['url'] }}" target="_blank" style="font-size: 10pt"> {{ i['_source']['name'] }}</a>
    <a href="{{ i['_source']['url'] }}" target="_blank" style="font-size: 10pt"> 链接 {{ i['_source']['url'] }}</a></br>
    <br>
<a  target="_blank" style="font-size: 10pt"> 时间：{{ i['_source']['time'] }}</a>
<br>
<a target="_blank" style="font-size: 10pt"> 国家：{{ i['_source']['country'] }}</a>
<br>
<a  target="_blank" style="font-size: 10pt"> 类型：{{ i['_source']['genre'] }}</a>
<br>
<a  target="_blank" style="font-size: 10pt"> 评分：{{ i['_source']['star'] }}</a>
<br>
<a  target="_blank" style="font-size: 10pt"> 评价：{{ i['_source']['describe'] }}</a>
<br>
<br>
{% endfor %}
{% endif %}

{% if not num  %}
没有找到您想找的。也许您对以下内容感兴趣
{% endif %}

